## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [25]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [26]:
sample_list_1 = random.sample(range(100), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [42]:
set1 = set(sample_list_1)
print(len(sample_list_1))
print(sample_list_1)

80
[90, 25, 79, 48, 40, 94, 74, 44, 20, 14, 47, 86, 41, 36, 38, 89, 52, 50, 42, 7, 85, 53, 70, 27, 61, 2, 0, 65, 97, 22, 18, 24, 69, 75, 56, 98, 68, 4, 6, 34, 67, 35, 84, 59, 29, 28, 19, 49, 31, 37, 54, 76, 57, 33, 96, 39, 12, 60, 11, 5, 3, 46, 17, 80, 62, 73, 77, 13, 81, 66, 82, 15, 26, 64, 99, 87, 23, 95, 63, 51]

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [43]:
sample_list_0 = [random.sample(range(100),1) for random_number in range(80)]
sample_list_2 = [element for number in sample_list_0 for element in number]
print(sample_list_2)

[62, 29, 33, 83, 44, 90, 52, 18, 66, 59, 80, 28, 76, 20, 89, 68, 28, 61, 4, 95, 4, 47, 30, 55, 19, 12, 19, 0, 59, 84, 28, 35, 10, 25, 5, 11, 5, 69, 88, 33, 1, 19, 27, 76, 42, 52, 32, 74, 38, 33, 22, 10, 30, 15, 19, 20, 2, 60, 92, 93, 66, 99, 66, 24, 97, 77, 4, 12, 99, 28, 93, 13, 36, 21, 49, 69, 74, 19, 16, 18]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [44]:
set2 = set(sample_list_2)
print(len(set2))
#No son los 80 porque hay elementos repetidos en la lista y los sets no tienen elementos repetidos.

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [45]:
set3 = set1.difference(set2)
print(f'Elementos en set1 que no están en st2:\n{set3}')
print(f'Son: {len(set3)}')

Elementos en set1 que no están en st2:
{3, 6, 7, 14, 17, 23, 26, 31, 34, 37, 39, 40, 41, 46, 48, 50, 51, 53, 54, 56, 57, 63, 64, 65, 67, 70, 73, 75, 79, 81, 82, 85, 86, 87, 94, 96, 98}
Son: 37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [46]:
set4 = set2.difference(set1)
print(f'Elementos en set2 que no están en st1:\n{set4}')
print(f'Son: {len(set4)}')

Elementos en set2 que no están en st1:
{32, 1, 10, 16, 83, 21, 55, 88, 92, 93, 30}
Son: 11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [47]:
set5 = set1.intersection(set2)
print(f'Los elementos en común son: {set5}')
print(f'Son: {len(set5)}')

Los elementos en común son: {0, 2, 4, 5, 11, 12, 13, 15, 18, 19, 20, 22, 24, 25, 27, 28, 29, 33, 35, 36, 38, 42, 44, 47, 49, 52, 59, 60, 61, 62, 66, 68, 69, 74, 76, 77, 80, 84, 89, 90, 95, 97, 99}
Son: 43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [50]:

print(f'En total hay {len(set1)+len(set2)- len(set1.intersection(set2))} elementos.')
print(f'Estos es matematicamente correcto porque los elementos de set1 que no están en set2 son {len(set3)}, los que están en set2 que no están en set1 son {len(set4)} y los que están en ambos conjuntos son {len(set5)} y la suma de todos ellos da: {len(set3) + len(set4) + len(set5)}')

En total hay 91 elementos.
Estos es matematicamente correcto porque los elementos de set1 que no están en set2 son 37, los que están en set2 que no están en set1 son 11 y los que están en ambos conjuntos son 43 y la suma de todos ellos da: 91

#### Create an empty set called `set6`.

In [51]:
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [53]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 2, 3, 4, 5, 6, 7, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 89, 90, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [54]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [58]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [63]:
set7 = set3.union(set4,set5).union(set1,set2)

#### Using the `pop` method, remove the first element from `set1`.

In [68]:
set8 = set1.pop()
set8

3

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [70]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
print(set1)

{4, 5, 6, 7, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 33, 34, 35, 36, 37, 38, 40, 42, 44, 46, 47, 48, 50, 52, 53, 54, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 80, 82, 84, 85, 86, 87, 90, 94, 95, 96, 97, 98}